[connection]
id=wlan0-CIIRC-GUEST
uuid=cbce9ff4-1c90-49c7-955c-d984c6ffbed6
type=wifi
autoconnect=false
interface-name=wlan0
permissions=
timestamp=1639606835

[wifi]
mac-address=00:04:4B:A5:D8:BC
mac-address-blacklist=
mode=infrastructure
seen-bssids=A0:3D:6F:A0:BB:7B;
ssid=DEMO-NET

[wifi-security]
auth-alg=open
key-mgmt=wpa-psk
psk=FIXME

[ipv4]
dns-search=
method=auto

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=auto
