[connection]
id=wlan0-tx2-ros2-access-point
uuid=28c5cd1d-9091-4fd5-b293-14a92a9d530b
type=wifi
interface-name=wlan0
permissions=
timestamp=1639604890

[wifi]
band=bg
mac-address=00:04:4B:A5:D8:BC
mac-address-blacklist=
mode=ap
seen-bssids=00:04:4B:A5:D8:BC;
ssid=tx2-ros2

[wifi-security]
group=ccmp;
key-mgmt=wpa-psk
pairwise=ccmp;
proto=rsn;
psk=FIXME
wps-method=1

[ipv4]
address1=192.168.1.1/24
dns-search=
method=shared

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=ignore
